* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    color: #010120;
}

.wrapper {
    background-color: #fff;
    width: 45%;
    min-width: 550px;
    padding: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
}

.output {
    background-color: #eef3f8;
    width: 100%;
    min-height: 250px;
    padding: 20px 0;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    display: grid;
    place-items: center;
}

#blob {
    width: 300px;
    height: 300px;
    background: linear-gradient(#44a2f0 ,#025eaa);
    box-shadow: 15px 20px 30px rgba(0, 0, 0, .15);
}

.dimensions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0 40px 0;
}

label {
    font-weight: 500;
}

input[type="number"] {
    height: 40px;
    width: 80px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #a0a0b0;
    border-radius: 5px;
}

input[type="number"]:focus {
    background-color: #faf5fa;
    border-color: #025eaa;
    color: #025eaa;
}

.sliders {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.text {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    width: 82%;
    padding: 10px;
    margin-top: 50px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #f1eff9;
}

textarea {
    width: 82%;
    padding: 10px;
    margin-top: 50px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #f1eff9;
}

@media (max-width : 500px) {
    .wrapper {
        min-width: 400px;
    }

    .dimensions {
        justify-content: center;
    }

    .dimensions>div {
        margin: 0 10px 0 0;
    }

    .dimensions .one::after {
        content: '|';
        color: #025eaa;
    }

    .sliders {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .text textarea {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width : 320px) {
    .wrapper {
        min-width: 300px;
    }
}